footer{
    position:absolute;
    bottom:0px;
    width:100%;
    background-color: black;
    color:white;
    padding: 5px;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;}

footer img{
    width: 3%;
}


h1{
    text-align: center;
    padding: 100px;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    
}



nav{
   display: grid;
   grid-auto-flow: row;
   text-align: center;
}

@media (min-width:700px) {
   nav{
       grid-auto-flow:column;
   }
}


body{
    background-image:url(Img/Videos-FMS-Espa%C3%B1a.jpg);
}

-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  
header{
    margin: auto;
    width: 100%;
    overflow: auto;
    background-color: black;
}

footer{
    position:absolute;
    bottom:0px;
    width:100%;
    background-color: black;
    color:white;
    padding: 5px;
    height: 65px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;}
img{
    width: 3%;
}

h1{
    text-align: center;
    padding: 100px;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color:white;
 }



body{
    background-image:url(Img/Videos-FMS-Espa%C3%B1a.jpg);}
        
        #header{
    margin: auto;
    width: 100%;
    overflow: auto;
}
                                                                                                                                                                                                                                 
ul, ol{
    list-style: none;
} 


.nav li a{
    color: white;
    text-decoration: none;
    display: block;
   background-color: brown;
   height: 60px;
   padding-top: 20px;
   transition: all 1s ease;
    
    
    }

.nav li a:hover{
    transform: scale(1.2);
    background-color: lightcoral;
    border-bottom: red 5px solid;
}

.nav> li{
    float: left;
    width: 25%;
    text-align: center;
    
}

.nav li ul{                                                            
    display:none;
    position: absolute;
    width: %;
    z-index: 2;
    
    
}

.nav li:hover> ul{
    display: block;
    
}

.nav li ul{
    position: relative;
    
}

.nav li ul li ul{
    right: -140px;
    top: 0px;
    
}
  

