*{
    margin: 0px;
    box-sizing: border-box;
    padding-left: 0px;}

footer{
    position:inherit;
    bottom:0px;
    width:100%;
    background-color: black;
    color:white;
    padding: 5px;
    height: 110px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-top: 20px;}

.logo{display: flex;}

img{
    padding-top: 10px;
    width: 3%;}
h1{
    text-align: center;
    padding: 100px;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color:white;
    padding-top: 0px;}

p{font-size: 18px}
.formulario{
    background-color:brown;
    color:white;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;}



.fm{
    display: flex;
    flex-direction: column;}

.fm >*{
    margin: 10px 0px 0px 0px;
    padding: 15px;
    border-radius: 10px;}


#header{
    margin: auto;
    width: 100%;
    overflow: auto;}
                

ul, ol{
    list-style: none;} 



.nav li a{
    color: white;
    text-decoration: none;
    display: block;
   background-color: brown;
   height: 60px;
   padding-top: 20px;
   transition: all 1s ease;}

.nav li a:hover{
    transform: scale(1);
    background-color: lightcoral;
    border-bottom: red 5px solid;}

.nav> li{
    float: left;
    width: 25%;
    text-align: center;}

.nav li ul{                                                            
    display:none;
    position: absolute;
    width: %;
    z-index: 2;}

.nav li:hover> ul{
    display: block;}

.nav li ul{
    position: relative;}

.nav li ul li ul{
    right: -140px;
    top: 0px;
    
}
body{
    background-image:url(Img/Videos-FMS-Espa%C3%B1a.jpg);}

.mapa{
    padding-top: 15px;
    text-align: center;
}
        

  
